*.pdf
xinxin_tutorial01.txt
*.m4a
SixFeatures-master


# -----------------------------------
# Node.js
# -----------------------------------
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml

# Build / cache
dist/
build/
.cache/
.tmp/

# -----------------------------------
# macOS
# -----------------------------------
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


# -----------------------------------
# Linux
# -----------------------------------
*~
.nfs*

# -----------------------------------
# Windows
# -----------------------------------
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# -----------------------------------
# VS Code / IDE metadata
# -----------------------------------
.vscode/
.history/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# -----------------------------------
# Logs / temp
# -----------------------------------
*.log
*.tmp
*.bak
*.swp
*.swo

# -----------------------------------
# Misc
# -----------------------------------
.env
*.local